$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";

.ratio-1333x1227 {
  --bs-aspect-ratio: calc(1227 / 1333 * 100%);
}

.text-color {
  color: crimson;
}
